<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <!-- Django understands it as a list of objects.How we can display lists? Yes, with for loops!  -->
      <!-- 'for' loop starts -->

  {% for post in posts %}
  <div>
    <p>Published: {{ post.published_date }}</p>
     <h2><a href="">{{ post.title }}</a></h2>
     <p>{{ post.text }}</p>
   
  <div>
  {% endfor %} 

      <!-- 'for' loop ends -->
    </body>
</html>

<!-- Everything you put between % for % and % endfor % will be repeated for each object in the list. -->

<!-- To print a variable in Django templates, we use double curly brackets with the variable's name inside, like this: {{ posts }} -->

<!-- Have you noticed that we used a slightly different notation this time ({{ post.title }} or {{ post.text }})? We are accessing data in each of the fields defined in our Post model. -->