.page-header {
  background-color: #ec6d68;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

.date {
  float: right;
  color: #0000ff;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 3rem;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
  color: #000;
}

.top-menu{
  color: #fff;
}

.top-menu small a{
  color: #fff;
  text-decoration: none;
}

.top-menu small{
  color: #fff;
  background: #8d413e;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
}

p span{
  text-decoration: none;
  margin-right: 1rem;
  background-color: #8d413e;
  color: #fff;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
}

p span:hover{
  color: #000;
}

.top-menu small a:hover{
  text-decoration: none;
  color: #000;
}

.comment {
  margin: 20px 0px 20px 20px;
}

.line{
  background: #444;
}